@tailwind base;
@tailwind components;
@tailwind utilities;

.text-container {
  width: 300px; /* adjust as needed */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.text-container span {
  position: relative;
  display: inline-block;
  animation: slideText 4s ease forwards;
}

/* Keyframes for sliding text */
@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Keyframes for white bar */
@keyframes slideBar {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
